# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Local app data and logs
*.log
library.json

# Editors and OS files
.vscode/
.idea/
.vs/
Thumbs.db
Desktop.ini
